* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease-in-out;
}

body {
  color: #333;
  background-image: linear-gradient(
    179.1deg,
    rgba(247, 238, 238, 1) -1.9%,
    rgba(247, 202, 201, 1) 44.9%,
    rgba(145, 168, 208, 1) 96.1%
  );
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.container-content {
  padding: 10px 10px 0 0;
  padding-right: 10px;
  margin: 0;
  overflow: auto;
  max-height: 70vh;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}

.main-page {
  background-color: rgba(255, 255, 255, 0.658);
  backdrop-filter: blur(5px);
  width: 30rem;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
  color: #444; /* Warna teks hitam yang tidak terlalu pekat */
}

ul {
  list-style: none;
}
.input-form,
.selesai {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.input-form.hide {
  opacity: 0;
  pointer-events: none;
}

.input-label {
  margin-bottom: 10px;
  color: #555; /* Warna teks hitam yang tidak terlalu pekat */
}

.container-input {
  padding: 0;
  margin: 0;
}
.input-field {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  color: #333;
  font-size: 14px;
}

.input-field::placeholder {
  color: #777; /* Warna teks placeholder yang tidak terlalu pekat */
}

.input-field:hover,
.input-field:focus {
  border-bottom: 2px solid #2980b9; /* Menampilkan border saat kursor aktif */
  background-color: rgba(255, 255, 255, 0.3);
}

.submit-button {
  background-color: #2980b9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.submit-button:hover {
  background-color: #1c6da8;
}

.result-title {
  text-align: center;
  margin-top: 20px;
  color: #444;
}

.result-list {
  list-style: none;
  padding: 0;
}

.input-field:hover,
.input-field:focus {
  border-color: #2980b9;
}

.navbar-container {
  text-align: center;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(145, 168, 208, 1);
}

.navbar-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-container li {
  margin: 0;
  padding: 0 1rem;
  position: relative;
  cursor: pointer;
  font-weight: thin;
  opacity: 0.7;
  transition: font-weight 0.3s ease, opacity 0.3s ease;
  color: #444;
}

.navbar-container li:hover {
  font-weight: bold;
  opacity: 1;
}

.navbar-container a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.active {
  font-weight: bold;
  opacity: 1;
  color: rgb(58, 68, 83);
}

.navbar-container li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: #2980b9;
  transition: background-color 0.3s ease;
}

.no-data {
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  .main-page {
    width: 80%;
  }
}
