<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Nilai Anggota</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/list.css') }}"
    />
    <style></style>
  </head>
  <body>
    <section class="main-page">
      <div class="main-container">
        <h1 class="main-title">Grade hub</h1>
        <form action="{{ url_for('add') }}" method="post">
            <input type="text" name="todo">
            <select name="member">
              <option value="erik">Erik</option>
              <option value="adam">Adam</option>
              <option value="fajar">Fajar</option>
            </select>
            <button type="submit">Add</button>
          </form>
      
          <ul>
            {% for member, member_todos in todos.items() %}
              <h2>{{ member }}'s Todo List</h2>
              {% for todo in member_todos %}
                <li>
                  <input type="checkbox" name="done" {% if todo['done'] %}checked{% endif %} onchange="this.form.submit()">
                  <span {% if todo['done'] %}style="text-decoration: line-through"{% endif %}>{{ todo['task'] }}</span>
      
                  <!-- Modify link to include member information -->
                  <a href="{{ url_for('edit', member=member, index=loop.index0) }}">edit</a>
                  <a href="{{ url_for('delete', member=member, index=loop.index0) }}">delete</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
      </div>
    </section>
  </body>
</html>
