* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease-in-out;
}

body {
  color: #333;
  background-image: linear-gradient(
    179.1deg,
    rgba(247, 238, 238, 1) -1.9%,
    rgba(247, 202, 201, 1) 44.9%,
    rgba(145, 168, 208, 1) 96.1%
  );
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  width: 100%;
}

.main-page {
  background-color: rgba(255, 255, 255, 0.658);
  backdrop-filter: blur(5px);
  width: 30rem;
  height: 80vh;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(75, 71, 71, 0.3);
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.main-title {
  font-size: xx-large;
  text-align: center;
  margin: 1rem 0 1rem 0;
  color: #444;
}

.list-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */

  width: 100%;
  height: 60vh;
}

.title {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
}

/* File: static/css/custom-styles.css */

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

form input,
form select,
form button {
  margin: 5px;
}

/* Style for unordered list */
ul {
  max-height: 50vh;
  overflow-y: auto;
  list-style: none;
}

/* Style for h2 within ul */
ul h2 {
  text-align: center;
  margin-top: 20px;
}

/* Style for list items within ul */
ul li {
  margin-bottom: 10px;
}

/* Style for span within li */
ul li span {
  margin-left: 10px;
  word-wrap: break-word;
  max-width: 100%;
}

/* Style for anchor (a) */
a {
  text-decoration: none;
  color: #444;
}

/* Add some space between members' todo lists */
h2 + ul {
  margin-top: 20px;
}

.todo-container {
  height: auto;
  width: auto;
  background-color: rgba(212, 212, 212, 0.418);
  overflow-y: hidden;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
}

input:checked + label {
  text-decoration: line-through;
  opacity: 0.5;
}

.task {
  max-width: 50vh;
}

.member-container {
  height: auto;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(234, 237, 245);
  border-radius: 10px;
}

.select-box {
  position: relative;
  display: block;
  width: auto;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial",
    sans-serif;
  font-size: 18px;
  color: #60666d;
  border-style: none;
  outline: none;
  border: none;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
}

.select-box:focus,
.select-box:active {
  border: none;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #ccc; /* Warna border garis bawah */
  background: rgba(255, 255, 255, 0.5); /* Warna background putih transparan */
  padding: 10px;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  width: 20rem;
  box-sizing: border-box;
  transition: border-bottom 0.3s ease;
  font-size: 16px;
  color: #333; /* Warna teks */
}

input[type="text"]:focus {
  border-bottom: 2px solid #7e7994; /* Warna border garis bawah saat fokus */
  outline: none;
  box-shadow: rgba(51, 51, 51);
}

.add {
  background-color: #cca1bf; /* Warna latar tombol */
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 2rem;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.add:hover {
  background-color: #857794; /* Warna latar tombol saat hover */
}

.input-container {
  width: 100px;
  display: flex;
  justify-content: center;
}

.todo-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todo-item input[type="checkbox"] {
  margin-right: 5px;
}

.completed {
  text-decoration: line-through;
  color: #777; /* Warna teks untuk tugas yang sudah selesai */
}

.todo-action {
  text-decoration: none;
  margin-left: 10px;
  color: #3498db;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease; /* Transisi warna teks saat hover */
}

.todo-action:hover {
  color: #2980b9;
}
#edit,
#del {
  color: #929292;
}

#edit:hover {
  color: #436ad6;
}

#del:hover {
  color: #e92842;
}
@media screen and (max-width: 600px) {
  .main-page {
    width: 80%;
  }
}
